*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{
	background: #F5F6FA;
	overflow: scroll;
}
header{
	width: 100%;
	height: auto;
	overflow: hidden;
}	
.daohang{
	width: 100%;
	height: 0.4rem;
	/* position: fixed; */
	
}	
.daohang>img{
	width: 100%;
	height: 100%;
}
.logo{
	width: 100%;
	height: 100%;
	background: #0078E6;
	overflow: hidden;
}

.logo .logobox{
	width: 10%;
	height: auto;
	float: left;
	overflow: hidden;
	padding-left: 3rem;
}
.logobox>img{
	width: 100%;
	height: 100%;
	
}
.logo i{
	font-size: 0.3rem;
	font-style: normal;
	color: #FFFFFF;
    float: left;
    display: inline;
    padding-top: 0.1rem;
    padding-left: 0.02rem;
}
.banner{
	width: 100%;
	height: auto;
	overflow: hidden;
}	
.banner>img{
	width: 100%;
	height: 100%;
}

.guanyu{
	width: 100%;
	height: auto;
	background: #F5F6FA;
	overflow: hidden;
	/* background: gray; */
}
.guanyu1{
	width: 34%;
	height: 100%;
	overflow: hidden;
}
.guanyu1>p{
	width: 100%;
    height: 100%;
    line-height: 0.82rem;
    padding-left: 0.2rem;
}
.guanyu1>p>em{
    font-style: normal;
    font-size: 0.25rem;
    color: #494747;
}	
.guanyu1>p>strong{
	font-style: normal;
    font-size: 0.25rem;
    color: #494747;
}
.guanyu1>p>a{
	font-style: normal;
    font-size: 0.25rem;
    color: #494747;
    text-decoration: none;
}


.gaishu{
	width: 100%;
	height: auto;
	background: #F5F6FA;
}
.chengli{
	width: 90%;
	height: 100%;
	background: white;
	margin: 0rem auto;
}
.ti{
	width: 90%;
	height:auto;
	padding-left: 0.3rem;
	margin-top: 0.2rem;
	box-sizing: border-box;
	padding-top: 0.2rem;
}
.ti p{
	font-style: normal;
	font-size: 0.22rem;
	color: #494747;
	border-left: 0.05rem solid #01B5FF;
	border-bottom: 0.01rem dotted gray;
	padding-left: 20px;
	
}

.neirong{
	width: 90%;
	height: 100%;
	padding-top: 0.2rem;
	padding-left: 0.3rem;
}
.neirong p{
	font-size: 0.2rem;
	font-style: normal;
	color: #666666;
	padding: 0.2rem 0.2rem;
}


.qiye{
	width: 100%;
	height: auto;
	background: #F5F6FA;
}
.wenhua{
	width: 90%;
	height: auto;
	background: white;
	margin: 0px auto;
}
.qi{
	width: 90%;
	height: auto;
	
	padding-left: 0.3rem;
	margin-top: 0.2rem;
	
	box-sizing: border-box;
	padding-top: 0.2rem;
}
.qi p{
	font-style: normal;
	font-size: 0.22rem;
	color: #494747;
	border-bottom: 0.01rem dotted gray;
	border-left: 0.05rem solid #01B5FF;
	padding-left: 0.2rem;
}
.ye{
    width: 100%;
    height: auto;
    background: white;
    padding-top: 0.2rem;
}
.ye ul{
	width: 100%;
	height: 100%;
	display: flex;
	padding-left: 0.3rem;
	padding-bottom: 0.3rem;
}
.ye>ul>li{
	width: 33.33%;
	height: 1rem;
	float: left;
	padding: 0rem 0.2rem;
}
.ye>ul>li>img{
	
	height: 100%;
}

.linian{
	width: 100%;
	height: auto;
	background: #F5F6FA;
}
.li{
	width: 90%;
	height: auto;
	background: white;
	margin: 0px auto;
}
.nian{
	width: 90%;
	height: auto;
	
	padding-left: 0.3rem;
	margin-top:0.2rem;
	box-sizing: border-box;
	padding-top: 0.2rem;
	
}
.nian p{
	font-style: normal;
	font-size: 0.22rem;
	color: #494747;
	border-left: 0.05rem solid #01B5FF;
	border-bottom: 0.01rem dotted gray;
	padding-left: 0.2rem;
}
.li i{
	font-size: 0.18rem;
	font-style: normal;
	display: block;
	height: 0.5rem;
	padding-left: 0.3rem;
	line-height: 0.5rem;
	color: #666666;
}


.baoming{
	width: 100%;
	height: auto;
}
.bao{
	width: 23%;
	height: auto;
	margin: 0px auto;
	padding-top: 20px;
}
.bao>img{
	width: 100%;
	height: 100%;
}	



.di{
	width: 100%;
	height: auto;
}
.di p{
	width: 80%;
	height: auto;
	/* background: red; */
	margin: 0px auto;
}
.di i{
	width: 100%;
	height: auto;
	display: block;
	font-size: 0.2rem;
	font-style: normal;
	color: #666666;
	text-align: center;
}
.di span{
	width: 100%;
	height: auto;
	display: block;
	font-size: 0.2rem;
	font-style: normal;
	color: #666666;
	text-align: center;
	padding-top: 0.1rem;
}