.tittle{
	width:100%;
	height:0.93rem;
	background: #0078E6;
	line-height: 0.93rem;
}
.tittle img{
	display: block;
	height: 100%;
	float:left;
	margin-left:2.5rem;
}
.tittle a{
	font-size: 0.37rem;
	color: #FFFFFF;
	display: block;
	float:left;
	font-weight: 500;
}





.banner{
	width:100%;
	position: relative;
}
.banner img{
	width:100%;
	display: block;
}
.banner .zhezhao{
	width:100%;
	height: 100%;
	background: rgba(28,29,30,0.6);
	position: absolute;
	top: 0px;
	text-align: center;
}
.banner .zhezhao>i{
	font-style: normal;
	font-size: 0.32rem;
	color:#FFFFFF;
	line-height: 2.66rem;
	font-weight: 600;
}
.banner .zhezhao>span{
	font-size: 0.32rem;
	color:#ED8A19;
	line-height: 2.66rem;
	font-weight: 600;
}
.banner .zhezhao>em{
	font-style: normal;
	font-size: 0.32rem;
	color:#03B6F4;
	line-height: 2.66rem;
	font-weight: 600;
}
.banner .zhezhao>i:nth-of-type(2){
	margin-left:0.2rem;
}



/*首页*/
.shouye{
	width:100%;
	height: 0.77rem;
	background: #F5F6FA;
	font-weight: 600;
}
.shouye span{
	font-size: 0.22rem;
	color: #494747;
	margin:0rem 0.24rem;
	line-height: 0.77rem;
}
.shouye em{
	font-style:normal;
	font-size: 0.22rem;
	color: #494747;
	line-height: 0.77rem;
}



/*概述*/
.ui{
	width:100%;
	background: #FFFFFF;
	box-sizing: border-box;
	padding:0.3rem 0.24rem;
	overflow: hidden;
}
.ui>.lan{
	width:0.04rem;
	height: 0.2rem;
	background: #01B5FF;
	float: left;
	margin-top:0.05rem;
}
.ui>span{
	font-size: 0.24rem;
	color: #444444;
	margin-left:0.2rem;
	font-weight: 600;
}



/*刘钊老师*/
.liu{
	width: 100%;
	background: #FFFFFF;
	box-sizing: border-box;
	padding:0.25rem 0.45rem;
	overflow: hidden;
}
.liu>.fang{
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 0.1rem;
	background: url(../img/2017-04-09_214530.jpg) no-repeat center;
	background-size: contain;
	float:left;
}
.liu>.wenzi{
	height: 100%;
	float:left;
	padding-left:0.3rem;
}
.liu>.wenzi>i{
	font-style:normal;
	font-size: 0.26rem;
	color:#111111;
	font-weight: 700;
}
.liu>.wenzi>span{
	font-size: 0.22rem;
	color:#01B5FF;
	font-weight: 600;
}
.liu>.wenzi>strong{	
	font-size: 0.24rem;
	color:#333333;
	font-weight: 600;
	line-height: 0.36rem;
}
.liu>.wenzi>b{
	font-weight: 500;
	font-size: 0.24rem;
	color:#000000;
	line-height: 0.34rem;
}
.liu>.wenzi em{
	font-style:normal;
	font-weight: 500;
	font-size: 0.24rem;
	color:#000000;
	line-height: 0.34rem;
	margin-left:0.75rem;
}


/*内容*/
.neirong{
	width: 100%;
	box-sizing: border-box;
	padding:0rem 0.68rem;
	font-size: 0.24rem;
	color: #666666;
	font-weight: 400;
}














/*页码*/
.yema{
	width:100%;
	background:#FFFFFF;
	overflow: hidden;
	box-sizing: border-box;
	padding:0.2rem 0rem;
}
.yema .yi{
	width:0.58rem;
	height:0.31rem;
	border:1px solid #999999;
	border-radius: 0.15rem;
	text-align: center;
	margin-left:0.36rem;
	float:left;
}
.yema .yi>i{
	display: inline-block;
	width:0.5rem;
	height: 0.25rem;
	border:1px solid #333333;
	border-radius: 0.15rem;
	text-align: center;
	margin-top:0.02rem;
	font-size: 0.3rem;
	font-style:normal;
	line-height: 0.25rem;
}
.yema .er{
	width:0.32rem;
	height:0.32rem;
	border:1px solid #999999;
	border-radius: 50%;
	text-align: center;
	margin-left:0.13rem;
	float:left;
}
.yema .er>i{
	display: inline-block;
	width:0.26rem;
	height: 0.26rem;
	border:1px solid #333333;
	border-radius: 50%;
	text-align: center;
	margin-top:0.02rem;
	font-size: 0.15rem;
	font-style:normal;
	line-height: 0.25rem;
}
.yema .er:nth-child(5){
	background: #01B5FF;
	border:0px;
	box-shadow: 0rem 0.03rem 0.02rem rgba(1,181,255,0.3);
}
.yema .er:nth-child(5) i{
	background: #01B5FF;
	border:1px solid #FFFFFF;
	color: #FFFFFF;
}
.yema>span{
	display: inline-block;
	margin-left:0.15rem; 
	margin-top:0.15rem;
	float:left;
}
.yema .san{
	width:0.58rem;
	height:0.31rem;
	border:1px solid #999999;
	border-radius: 0.15rem;
	text-align: center;
	margin-left:0.15rem;
	float:left;
}
.yema .san>i{
	display: inline-block;
	width:0.5rem;
	height: 0.25rem;
	border:1px solid #333333;
	border-radius: 0.15rem;
	text-align: center;
	margin-top:0.02rem;
	font-size: 0.3rem;
	font-style:normal;
	line-height: 0.25rem;
}
.yema>b{
	display: inline-block;
	font-weight: normal;
	font-size: 0.16rem;
	color: #262626;
	float:left;
	margin-left:0.3rem; 
	margin-top:0.08rem;
}
.yema .si{
	width:0.58rem;
	height:0.31rem;
	border:1px solid #E5E5E5;
	border-radius: 0.15rem;
	text-align: center;
	margin-left:0.06rem;
	float:left;
}
.yema .si>i{
	display: inline-block;
	width:0.5rem;
	height: 0.25rem;
	border:1px solid #E5E5E5;
	border-radius: 0.15rem;
	text-align: center;
	margin-top:0.02rem;
	font-size: 0.3rem;
	font-style:normal;
	line-height: 0.25rem;
}
.yema>em{
	display: inline-block;
	font-style: normal;
	font-size: 0.16rem;
	color: #262626;
	float:left;
	margin-left:0.06rem; 
	margin-top:0.08rem;
}
.yema .er:last-child{
	float:right;
	margin-right:0.36rem;
}

.dibu{
	width:100%;
	background: #FFFFFF;
	font-size: 0.2rem;
	color: #666666;
	text-align: center;
	line-height: 0.3rem;
	font-weight: 550;
}


